 /* CSS for basic styling */
header {
    background-color: #7e8e94;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.nav-links a,
.nav-links button {
    color: #fff;
    background-color: #333;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover,
.nav-links button:hover {
    background-color: #555;
}

.carousel-container {
    display: flex; /* Mengatur carousel-container menjadi flexbox */
    justify-content: flex-end; /* Menempatkan carousel di sebelah kanan */
    align-items: center; /* Menyamakan tinggi gambar dengan indikator */
    width: 100%; /* Menjalankan carousel-container sepanjang lebar layar */
    max-width: 600px; /* Mengatur lebar maksimum carousel-container */
    margin: 0 auto; /* Center the carousel-container */
    padding: 20px; /* Menambahkan ruang di sekitar carousel-container */
}

.carousel {
    position: relative; /* Menetapkan posisi relatif untuk carousel */
    width: 60%; /* Mengisi lebar carousel */
    max-width: 300px; /* Set maximum width for the carousel */
    overflow: hidden;
    background-color: #f0f0f0; /* Menetapkan warna latar belakang carousel */
    border-radius: 10px; /* Menetapkan sudut bulat untuk carousel */
}

.carousel img {
    flex: 0 0 auto; /* Mengatur gambar agar tidak memperbesar atau memperkecil dirinya */
    width: 100%; /* Mengisi lebar gambar carousel */
    height: auto; /* Menyesuaikan tinggi gambar secara proporsional */
    display: block;
    transition: transform 0.5s ease; /* Add transition for smooth sliding effect */
    border-radius: 10px; /* Menetapkan sudut bulat untuk gambar */
}


.carousel-indicators {
    /* Add styling for carousel indicators if needed */
}

.content {
    display: flex;
    align-items: center; /* Mengatur vertikalnya elemen-elemen */
}

.carousel {
    flex: 1; /* Agar gambar dapat memanjang sepanjang sisanya */
    margin-right: 20px; /* Jarak antara gambar dan paragraf */
}

.paragraph {
    flex: 2; /* Lebar paragraf akan lebih besar dari gambar */
}

.paragraph p {
    text-align: justify; /* Mengatur paragraf menjadi rata kiri dan kanan */
}
 /* CSS for basic styling */
        header {
            background-color: #7e8e94;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        header h1 {
            margin: 0;
        }

        .nav-links {
            display: flex;
            justify-content: center;
            padding: 10px 0;
        }

        .nav-links a, .nav-links button {
            color: #fff;
            background-color: #333;
            border: none;
            padding: 10px 20px;
            margin: 0 10px;
            text-decoration: none;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .nav-links a:hover, .nav-links button:hover {
            background-color: #555;
        }