 /* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    height: 100vh; /* Membuat halaman penuh tinggi */
    display: grid;
    place-items: center;
    position: relative;
  }
  
  .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Sesuaikan dengan tinggi hider */
    background-color: #00f; /* Warna biru untuk top-bar */
    z-index: 2; /* Untuk memastikan top-bar muncul di depan */
  }
  
  .hider {
    position: absolute;
    top: 0;
    left: 20px;
    cursor: pointer;
    background-color: #ccc; /* Warna abu untuk hider */
    padding: 5px;
    border-radius: 50%; /* Agar bentuknya bulat */
    z-index: 3; /* Untuk memastikan hider muncul di depan */
  }
  
  .hider span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Untuk memastikan icon search muncul di depan */
  }
  
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 2; /* Untuk memastikan menu muncul di depan */
  }
  
  .menu a {
    display: block;
    padding: 5px 0;
    color: #333;
    text-decoration: none;
  }
  
  .menu a:hover {
    background-color: #f2f2f2;
  }
  
  .login-form {
    display: grid;
    place-items: center;
    gap: 20px;
  }
  
  .login-form label,
  .login-form input[type="text"],
  .login-form input[type="password"] {
    display: block;
  }
  
  .login-form input[type="submit"] {
    background-color: #00f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .spacer {
    height: 10px; /* Atur tinggi spacer sesuai kebutuhan */
    width: 100%;
  }
  
  @media screen and (max-width: 600px) {
    .hider {
      left: 10px;
    }
  }
  