/* pengaturan hider*/

/*pengaturan heaser dan menu*/

header {
    background-color: #7e8e94;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative; /* Tambahkan posisi relatif */
    z-index: 1; /* Atur z-index untuk memastikan header berada di atas container */
}

body {
    background: linear-gradient(to bottom, #4B0082, #9370DB); /* Atur gradasi dari atas ke bawah */
    margin: 0; /* Hilangkan margin default */
    padding: 0; /* Hilangkan padding default */
    color: rgb(227, 245, 222); /* Ubah warna teks menjadi putih */
}


.menu-item {
    display: inline-block; /* Membuat tombol-tombol sejajar */
    margin-right: 20px; /* Memberikan jarak antar tombol */
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    background-color: #000; /* Warna latar belakang tombol */
    padding: 10px 15px; /* Ukuran padding tombol */
    border-radius: 5px; /* Bentuk tepi tombol */
}

.menu-item.search-icon {
    cursor: pointer;
}

.menu-item.search input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.inmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    /* tambahkan gaya lain sesuai kebutuhan */
  }

.menu-item {
    margin-right: 20px;
}

.menu-item.search {
    margin-right: auto; /* Menu search akan ditempatkan sejauh mungkin ke kanan */
}

.menu-item a,
.menu-item button {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 10px 15px;
    border-radius: 5px;
}

.menu-item.search input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}
.menu-item.search input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}
 

.product {
    display: inline-block;
    margin: 20px;
    text-align: center;
}


/* pengaturan tombol produk*/
 

.btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

main {
    background: linear-gradient(to right, #4B0082, #FFFFFF);
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

 

.product {
    padding: 20px;
    background-color: #11b141;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.product img {
    max-width: 100%;
    margin-bottom: 10px;
}

.product p {
    margin: 0;
}

.product button {
    background-color: #800080;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

 /* Media queries untuk tampilan pada perangkat mobile */
 
 @media screen and (max-width: 768px) {
    .menu {
      flex-direction: column;
      align-items: center;
    }
    .menu-item {
      margin-bottom: 10px;
      width: 100%; /* Mengisi lebar menu */
    }
  }
 

   /* CSS untuk mengatur ukuran gambar */
   .food-images img {
    width: 100px; /* Lebar gambar */
    height: 100px; /* Tinggi gambar */
    margin: 10px; /* Jarak antar gambar */
}

 /* CSS untuk mengatur kontainer dan gaya gambar */
/* CSS untuk mengatur kontainer dan gaya gambar */
.container {
    background-color: #11b141; /* Warna latar kontainer */
    padding: 10px; /* Ruang dalam kontainer */
    border-radius: 5px; /* Sudut bulat kontainer */
}

.food-images {
    display: flex;
    justify-content: space-between; /* Menyusun gambar secara rata */
}

/* CSS untuk mengatur ukuran gambar */
.food-images img {
    max-width: 100%; /* Lebar maksimum gambar adalah 100% dari kontainer */
    height: auto; /* Tinggi gambar akan disesuaikan proporsional dengan lebar */
    margin: 10px; /* Jarak antar gambar */
}

/* CSS untuk menampilkan produk dan informasinya */
.product {
    display: flex;
    flex-direction: column; /* Tampilkan gambar dan info produk dalam satu kolom */
    align-items: center; /* Pusatkan elemen dalam kolom */
    margin-bottom: 20px; /* Jarak antar produk */
}

.product img {
    max-width: 200px; /* Lebar maksimum gambar */
}

.product-info {
    text-align: center; /* Pusatkan teks */
    margin-top: 10px; /* Jarak antara gambar dan info produk */
}


 


 
